# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
*.egg
*.env
.env
.venv/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/

# Data and model artifacts

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.tmp
*.bak
*.swp
*.swo

# Ignore requirements.txt in wandb logs
wandb/**/requirements.txt
